/*
    ROOT
*/
:root{
    --bg-body-color:#083b4c;
    --main-color:#1389b2;
    --second-color:#0cd6a1;
    --third-color:#ffd166;
    --fourth-color:#f0466f;
}
/*
    RESET
*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

/*
    GENERAL
*/
.square{
    width:100px;
    height:100px;
}

/*utility*/
.bg-main-color{
    background-color: var(--main-color);
}
.bg-second-color{
    background-color: var(--second-color);
}
.bg-third-color{
    background-color: var(--third-color);
}
.bg-foruth-color{
    background-color: var(--fourth-color);
}
.sfondo{
    background-color: var(--bg-body-color);
}