/*
    ROOT
*/
:root{
    --bg-body-color:#083b4c;
    --main-color:#1389b2;
    --second-color:#0cd6a1;
    --third-color:#ffd166;
    --fourth-color:#f0466f;
}
/*
    RESET
*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

/*
    GENERAL
*/


